html,
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2vh
}

h1 {
    margin: 0 0 20px;
    font-weight: 400;
    color: #1c87c9;
}

input {
    width: 100%;
    height: 10vh;
    border-radius: 13px;
    border: 2px solid #1c87c9;
    background-color: black;
    color: #1c87c9;
    font-size: 5vh;
    margin-bottom: 2vh;
    border-top-left-radius: 0px;
    background: fixed black;
}

label {
    border: 2px solid #1c87c9;
    margin-top: 30px;
    border-radius: 15px;
    padding: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 50vw;
}

q {
    margin-bottom: 15px;
}

#adult {
    width: 5%;
    margin-top: 7px;
    margin-left: 0px;
}

.gomb {
    width: 50%;
    cursor: pointer
}

#res {
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0px;
}

#sub {
    border-top-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 15px;
}

legend {
    border: none;
    max-width: 100%;
}

fieldset {
    border: none;
}

form {
    padding: 1vw;
    border: 1px solid #1c87c9;
    border-radius: 15px;
}

@media only screen and (max-width: 600px) {
    img {
        float: none;
        display: none;
        margin: 0 auto;
    }
}