@import url('https://fonts.googleapis.com/css?family=Oswald:500');
li {
    display: inline-block;
    transition-duration: 0.5s;
    max-width: 50vw;
    padding: 1vh;
}

li:hover {
    cursor: pointer;
}

a {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2.5vh;
    background: linear-gradient(to left, #000 50%, #fff 50%);
    background: -moz-linear-gradient(right, #000 50%, #fff 50%);
    background: -o-linear-gradient(right, #000 50%, #fff 50%);
    background-size: 203%;
    background-position-x: 100%;
    transition: all .5s ease-out;
}

a:hover {
    background-color: aqua;
    background-position-x: 0%;
    color: #000;
}

header {
    top: 0;
    min-height: 10vh;
    background-image: url("../srx/stars.jpg");
}

nav {
    width: 100%;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #ffffff;
}