body,
html {
    background-color: white;
    background-image: url("../srx/stars.jpg");
    margin: 0;
    height: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1vw;
    animation: stars 15s ease infinite;
}

@keyframes stars {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 90% 10%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#main-title {
    font-size: 10vh;
    margin: 2vw;
    background-color: rgb(34, 121, 202);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#x-div {
    text-align: center;
}

#x-wing {
    margin: auto;
    animation: grad 15s ease infinite;
}

.page-content {
    display: block;
    height: 100%;
    padding: 5%;
    margin-bottom: 10px;
}

@keyframes grad {
    0% {
        transform: scale(1.1);
    }
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.copyright {
    display: inline;
}

.bejelento {
    margin: auto;
    display: inline-block;
}

footer {
    display: block;
    background-color: #16151b;
    max-width: 100%;
    left: 0;
    margin-top: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: 0px;
    top: 80%;
    position: relative;
}

.footer-content {
    padding: 10px;
}

.table_bal_oszlop {
    text-align: right;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #16151b;
}

tr:nth-child(even) {
    background-color: aqua;
}

tr:nth-child(odd) {
    background-color: #fff;
}

table {
    width: 700px;
    float: left;
    margin: 20px;
}

#bolygo_kep {
    width: 20%;
    float: right;
    margin: 10px;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    padding-top: 0;
    border: 1px solid white;
    display: block;
    border-radius: 10px;
}

q {
    padding-bottom: 100px;
    width: auto;
}

.banner {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

#mainmenu {
    cursor: crosshair;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    background: rgba(0, 0, 0, 0.8);
}

.lightbox:target {
    display: block;
}

.lightbox span {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}